<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">日志管理</h3>
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 350px;">
                        <input type="text" name="table_search" id="searchNameId"
                               class="form-control pull-right" placeholder="用户名">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-search">
                                <i class="fa fa-search"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-delete">删除</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox" id="checkAll">全选</th>
                        <th>用户名</th>
                        <th>操作</th>
                        <th>请求方法</th>
                        <th>IP</th>
                        <th>创建时间</th>
                        <th>执行时长</th>
                    </tr>
                    </thead>
                    <tbody id="tbodyId">
                    <tr>
                        <td colspan="7">数据正在加载中...</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="pageId"
                 class="box-footer clearfix"
                 th:insert="common/page :: pageDiv">
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //日志列表页面加载完成以后,异步加载分页页面
        doGetObjects();
        //在页面的查询按钮上注册点击事件
        $(".input-group-btn").on("click", ".btn-search", doQueryObjects)
            .on("click", ".btn-delete", doDeleteObjects)
        //thead中全选checkbox对象事件注册
        $("#checkAll").change(doChangeTBodyCheckBoxState);
        //tbody中checkbox对象事件注册
        $("#tbodyId").on("change", ".cBox", doChangeTHeadCheckBoxState);
    });

    //修改thead中checkbox对象状态
    function doChangeTHeadCheckBoxState() {
        //获取tbody中所有checkbox对象状态进行"逻辑与"以后的结果
        var flag = true;
        $("#tbodyId input[type = 'checkbox']").each(function () {
            flag = flag && $(this).prop("checked");
        })
        //基于tbody中checkbox对象状态修改thead中checkbox对象状态
        $("#checkAll").prop("checked", flag);
    }

    //修改tbody中checkbox对象的状态
    function doChangeTBodyCheckBoxState() {
        //获取thread中全选checkbox对象的选中状态
        var flag = $(this).prop("checked");
        //基于全选checkbox对象的状态值,修改tbody中checkbox对象状态
        $("#tbodyId input[type = 'checkbox']").prop("checked", flag);
    }

    //获取选中记录id
    function doGetCheckedIds() {
        //获取tbody中所有选中的checkbox对象,并将其value值存储到数组
        var idArray = [];
        //当发现符合条件的input对象时
        $("#tbodyId input[type = 'checkbox']").each(function () {
            //每个类型为checkbox的input元素都有一个checked属性
            if ($(this).prop("checked")) {
                idArray.push($(this).val());
            }
        });
        //返回数组
        return idArray;
    }

    //执行删除按钮事件
    function doDeleteObjects() {
        //获取选中记录id(可能是多个)并校验.
        var idArray = doGetCheckedIds();
        console.log("id", idArray);
        if (idArray.length === 0) {
            alert("请先选择");
            return;
        }
        //给出删除提示
        if (!confirm("您确定删除吗")) return;
        //发送异步请求执行删除
        $.ajax({
            url: "log/doDeleteObjects",
            type: "DELETE",
            data: {"ids": idArray.toString()},
            success: function (result) {
                if (result.state === 200) {
                    alert(result.message);
                    doRefreshAfterDeleteOK();
                } else {
                    alert(result.message);
                }
            }
        })
    }

    //执行完删除操作以后刷新页面
    function doRefreshAfterDeleteOK() {
        var pageCount = $("#pageId").data("pageCount");
        var pageCurrent = $("#pageId").data("pageCurrent");
        var checked = $("#checkAll").prop("checked");
        if (pageCurrent === pageCount && checked && pageCurrent > 1) {
            pageCurrent--;
            $("#pageId").data("pageCurrent", pageCurrent);
        }
        doGetObjects();
    }

    function doQueryObjects() {
        //初始化当前页码值
        $("#pageId").data("pageCurrent", 1);
        //基于查询条件进行查询
        doGetObjects();
    }

    //页面加载完成,异步加载数据,并呈现在tbodyId对应的位置
    function doGetObjects() {
        $("#checkAll").prop("checked", false);
        //debugger
        //请求参数
        var pageCurrent = $("#pageId").data("pageCurrent");
        //当pageCurrent没有值时,默认undefined
        if (!pageCurrent) pageCurrent = 1;
        var params = {"pageCurrent": pageCurrent};
        var uname = $("#searchNameId").val();
        if (uname) params.username = uname;
        console.log("params", params);
        //定义请求的url
        var url = "log/doFindPageObjects";
        //发送ajax异步请求并处理响应结果
        $.getJSON(url, params, doHandleQueryResponseResult);
    }

    //处理日志查询时的响应结果
    function doHandleQueryResponseResult(result) {
        //基于服务端响应结果的状态,对响应数据进行处理
        if (result.state === 200) {//正常信息
            //将当前页记录显示在tbodyid对应的位置
            doSetTableBodyRows(result.data.records);
            //对当前页的分页信息在pageId位置进行初始化设置.
            doSetPagination(result.data);
        } else {
            //处理服务端响应结果中的异常
            doSetQueryErrorMessage(result);
        }
    }

    //查询失败结果数据
    function doSetQueryErrorMessage(result) {
        //简单处理
        $("#tbodyId").html("<tr><td colspan=7>" + result.message + "</td></tr>");
        //初始化总记录数
        $(".rowCount").html("总记录数(0)");
        //初始化总页数
        $(".pageCount").html("总页数(0)");
        //初始化当前页码值
        $(".pageCurrent").html("当前页(1)");
    }

    //将日志日志记录呈现在tbodyId位置
    function doSetTableBodyRows(records) {
        //迭代rolesPage记录,并构建html元素对象(tr,td)
        let trs = "";
        //ES6迭代数组
        records.forEach((item) => {
            trs += "<tr>" +
                "<td><input type='checkbox' class='cBox' value='" + item.id + "'></td>" +
                "<td>" + item.username + "</td>" +
                "<td>" + item.operation + "</td>" +
                "<td>" + item.method + "</td>" +
                "<td>" + item.ip + "</td>" +
                "<td>" + new Date(item.createTime).toLocaleString() + "</td>" +
                "<td>" + item.time + "</td>" + "</tr>"
        });
        //将Html元素追加到tbody中
        $("#tbodyId").html(trs);
    }
</script>






